.recipe-page__content {
    display: flex;
    margin-top: -30px;
    /* flex-wrap: wrap;    
    flex-basis: 760px; */
    /* margin-bottom: 30px; */
}

.recipe-page__content-main {
    background-color: white;
}

.recipe-page__content-info {
    background-color: #eeeef2;
    margin-left: auto;    
}

.recipe-page__content-main-block {
    padding: 30px 30px;
}

.recipe-page__content-main-block + .recipe-page__content-main-block {
    background: linear-gradient(#9acc7e, #9acc7e) top /95% 1px no-repeat;
}

.recipe-page__content-info-block {
    position: relative;
    margin: 30px;
}

.recipe-page__content-info-block + .recipe-page__content-info-block {
    border-top: 1px solid silver;
    padding-top: 30px;
}

.ingredients-list {
    line-height: 30px;
    margin-left: 15px;
    list-style: disc inside;
}

.good-advice::after {
    content: '"';
    font-family: Eczar, sans-serif;
    font-size: 200px;
    position: absolute;
    left: -25px;
    top: 150px;
    color: rgba(0,0,0,.1);
}