.slider-section {
    text-align: center;
    height: 800px;
    max-height: 800px;        
    background-position: center;
    background-attachment: fixed;        
}

.slider-section--bg-1 {
    background-image: url(/img/home_diet_sectionbg1.jpg);        
}

.slider-section--bg-2 {
    background-image: url(/img/home_diet_sectionbg2.jpg);
}