.panel {
    max-width: 100%;
    background-color: #eeeef2;
}

.panel__child {
    padding: 25px 0;
}

.panel__child + .panel__child {
    border-top: 1px solid silver;
}

.panel__recent-post + .panel__recent-post {
    margin-top: 15px;
}

@media (max-width: 768px) {
       .panel__child * {
        width: 100%;
    }
}