.recipes-card__picture {
    font-size: 0;
    position: relative;
    overflow: hidden;
}

.recipes-card__picture:hover > .recipes-card__actions {
    bottom: 0;
}

.recipes-card__opt {    
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.recipes-card__actions {    
    display: flex;
    column-gap: 1px;   
    text-align: center;
    position: absolute;      
    width: 100%;
    bottom: -77px;
    transition: 0.3s ease-in-out;
}

.recipes-card__action-button {
    flex-grow: 1;
    border: none;
    padding: 30px;
    color: white;
    background-color: rgb(133, 182, 101, 0.75);     
    font-size: 1rem;        
}

.recipes-card__info {
    padding: 15px 15px;
    background-color: white; 
}

.recipes-card__desc-header {
    font-family: Eczar, sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding-top: 20px;
}

.like-count {
    display: flex;
    column-gap: 5px;
}

.like-count__icon {
    cursor: pointer;
    color: var(--accent-color);
}